/*
!.vscode/
!.gitignore
!LICENSE
!README.md
!.github/
!windows_font_manager/
!windows-font-manager-webui/
!pyproject.toml
!build_hook.py
!run_build.py
!MANIFEST.in
!ruff.toml
!BackFont.fcp

__pycache__

windows_font_manager/static
